
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexSp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel=" stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


</head>
<body>
    <div style="width:auto;margin:0 auto;" class="tablecontainer">
        <a class="popup" btn btn-primary href="/Suppliers/save/0" style="margin-bottom :20px; margin-top :20px;">Add New</a>
        <table id="myDatatable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Email Address</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Province</th>
                    <th>Comment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

        </table>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').dataTable({
                "ajax":
                {
                    "url": '/Suppliers/GetSuppliers',
                    "type": "get",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "FirstName", "autowidth": true },
                    { "data": "Surname", "autowidth": true },
                    { "data": "EmailAddress", "autowidth": true },
                    { "data": "Address", "autowidth": true },
                    { "data": "Type", "autowidth": true },
                    { "data": "Province", "autowidth": true },
                    { "data": "Comment", "autowidth": true },
                    {
                        "data": "SupplierId", "width": "50px", "render": function (data) {
                            return '<a class = "popup" href ="Suppliers/save/' + data + ' ">Edit</a>';
                        }
                    },
                    {
                        "data": "SupplierId", "width": "50px", "render": function (data) {
                            return '<a class = "popup" href ="Suppliers/DeleteSup/' + data + ' ">Delete</a>';
                        }
                    }
                ]

            })

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));

            })

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });
                $dialog = $('<div class = " popUpWindow" style="overFlow:auto"><div/>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        title: 'Popup Dialong',
                        height: 550,
                        width: 600,
                        close: function () {

                            $dialog.dialog('destroy').remove();
                        }

                    })
                $('.popUpWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }

                        }

                    })
                    e.preventDefault();

                })
                $dialog.dialog('open');
            }
        })

    </script>
</body>
</html>
